<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>397154214695-tsbjucr3frp9p8rm04bkp7du64tpcumn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.397154214695-tsbjucr3frp9p8rm04bkp7du64tpcumn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>397154214695-n6eq287s943cg38t333jcujijgchnin7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCJfcUFcR5NU4quR140zdZ8Wz1XkBbj8Nw</string>
	<key>GCM_SENDER_ID</key>
	<string>397154214695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.login.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fairbaswork</string>
	<key>STORAGE_BUCKET</key>
	<string>fairbaswork.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:397154214695:ios:2479401a6568286db43f02</string>
</dict>
</plist>